# Local Newgrounds config (do not commit secrets)
src/utils/NGConfig.hx

# Build outputs
export/
bin/
**/obj/
**/bin/
**/.DS_Store

# OS junk
Thumbs.db
Desktop.ini
.haxelib/
.haxelsp/recording/
dump/
export/
hx_out/
docs/
native/